table {
    max-width: 960px;
    margin: 1rem auto;
    border-spacing: 0;
    border-collapse: collapse;
}

table thead th {
    text-align: center;
    font-weight: bold;
}

table tbody tr td {
    text-align: center;
    font-weight: normal;
}

table th {
    background-color: azure;
}

table td, table th {
    padding: 0.5rem;
    border: 1px solid lightgray;
}